{% extends 'base.html.twig' %}

{% block title %}View Buildings{% endblock %}
{% block pagetitle %}View Buildings{% endblock %}
{% block pagetitlesmall %}{% endblock %}
{% block pagebartitle %}View Buildings{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/global/css/pricing.min.css') }}" rel="stylesheet"
          type="text/css"/>
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-building-o font-green"></i>
                <span class="caption-subject font-green bold uppercase">Buildings</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="pricing-content-1">
                <div class="row">
                    {% for building in buildings %}
                        <div class="col-md-3">
                            <div class="price-column-container border-active">
                                <div class="price-table-head bg-green">
                                    <h2 class="no-margin">{{ building.name }}</h2>
                                </div>
                                <div class="price-table-pricing">
                                    <iframe src="https://www.google.com/maps/embed/v1/place?q={{ building.name }},{{ building.location }},Lebanon&zoom=15&key=AIzaSyADv1fqlt15DtNkRcFk4YCIllJzGp9DQe0">
                                    </iframe>
                                </div>
                                <div class="price-table-content">
                                    <div class="row mobile-padding">
                                        <div class="col-xs-3 text-right mobile-padding">
                                            <i class="icon-user"></i>
                                        </div>
                                        <div class="col-xs-9 text-left mobile-padding">{% if building.admin is not null %}{{ building.admin.getFullName }}{% else %}No Administrator{% endif %}</div>
                                    </div>
                                    <div class="row mobile-padding">
                                        <div class="col-xs-3 text-right mobile-padding">
                                            <i class="icon-users"></i>
                                        </div>
                                        <div class="col-xs-9 text-left mobile-padding">{{ building.numberOfMembers }}
                                            Members
                                        </div>
                                    </div>
                                    <div class="row mobile-padding">
                                        <div class="col-xs-3 text-right mobile-padding">
                                            <i class="icon-map"></i>
                                        </div>
                                        <div class="col-xs-9 text-left mobile-padding">{{ building.location }}</div>
                                    </div>
                                </div>
                                <div class="arrow-down arrow-grey"></div>
                                <div class="price-table-footer">
                                    <a href="{{ path('viewBuilding', {'buildingId': building.id}) }}" class="btn grey-salsa btn-outline sbold uppercase price-button">
                                        More info
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}