{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block title %}Add Shift{% endblock %}
{% block pagetitle %}Add Shift{% endblock %}
{% block pagetitlesmall %}Add Shift{% endblock %}
{% block pagebartitle %}Add Shift{% endblock %}

{% block content %}
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-equalizer font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Add Shift</span>
            </div>
        </div>

        <div class="portlet-body form">
            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
            <div class="form-body">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            <button class="close" data-close="alert"></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {{ form_row(form.day) }}
                {{ form_row(form.startTime) }}
                {{ form_row(form.endTime) }}

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-4">
                        {{ form_widget(form.save) }}
                        {{ form_widget(form.reset) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#shift_startTime').find('> div').removeClass('col-md-4');
        $('#shift_endTime').find('> div').removeClass('col-md-4');
        $('#shift_startTime').find('> div').addClass('birthday-date');
        $('#shift_endTime').find('> div').addClass('birthday-date');
    </script>
{% endblock %}
