{% extends 'baseVisitorProfile.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="profile-content">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light ">
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <i class="icon-globe theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase">Visitor Settings</span>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#visitor_info" data-toggle="tab">Visitor Info</a>
                            </li>
                            <li>
                                <a href="#blacklist" data-toggle="tab">
                                    {% if visitorBlacklist is not null %}
                                        Remove from blacklist
                                    {% else %}
                                        Add to blacklist
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <a href="#delete_account" data-toggle="tab">Delete Account</a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="visitor_info">
                                {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
                                <div class="form-body">

                                    {% for label, messages in app.flashes %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ label }}">
                                                <button class="close" data-close="alert"></button>
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}

                                    {{ form_row(form.firstName) }}
                                    {{ form_row(form.lastName) }}
                                    {{ form_row(form.nationality) }}
                                    {{ form_row(form.documentType) }}
                                    {{ form_row(form.ssn) }}

                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-4">
                                            {{ form_widget(form.save) }}
                                            {{ form_widget(form.reset) }}
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>

                            <div class="tab-pane" id="blacklist">
                                <div class="alert hidden" id="blacklist-alert">
                                    <button class="close" data-close="alert"></button>
                                    <span id="error-text-blacklist"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% if visitorBlacklist is null %}
                                            <p>Add the visitor to the blacklist.</p>
                                            <button class="btn red" data-toggle="confirmation" data-singleton="true" data-placement="right"
                                                    id="add">Add</button>
                                        {% else %}
                                            <p>Remove the visitor from the blacklist.</p>
                                            <button class="btn red" data-toggle="confirmation" data-singleton="true" data-placement="right"
                                                    id="remove">Remove</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="delete_account">
                                <div class="alert hidden" id="remove-alert">
                                    <button class="close" data-close="alert"></button>
                                    <span id="error-text-remove"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>All the data and content (such as logs) in that account will be lost.</p>
                                        <button class="btn red" data-toggle="confirmation" data-singleton="true"
                                                data-placement="right" id="delete_account_btn">Delete Account</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/pages/bootstrap-confirmation/bootstrap-confirmation.min.js') }}"></script>
    <script type="text/javascript">let visitorId = {{ visitor.id }};</script>
    <script type="text/javascript" src="{{ asset('js/pages/visitor-blacklist.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/pages/delete_visitor.js') }}"></script>
{% endblock %}



