{% extends 'base.html.twig' %}

{% block title %}{{ visitor.fullName }}{% endblock %}
{% block pagetitle %}{{ visitor.fullName }}{% endblock %}
{% block pagetitlesmall %}Visitor Profile{% endblock %}
{% block pagebartitle %}Visitor Profile{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/profile.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/profile-2.min.css') }}" rel="stylesheet" type="text/css"/>
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="profile-sidebar">
            <div class="portlet light profile-sidebar-portlet ">
                <div class="profile-usermenu">
                    <ul class="nav">
                        {% set routeName = app.request.attributes.get("_route") %}

                        <li class="{% if routeName == 'viewVisitor' %}active{% endif %}">
                            <a href="{{ path('viewVisitor', {'visitorId': visitor.id}) }}"><i class="icon-home"></i>
                                Overview </a>
                        </li>
                        {% if 'fowner' in app.session.get('roles') or 'fadmin' in app.session.get('roles') %}
                            <li class="{% if routeName == 'visitorSettings' %}active{% endif %}">
                                <a href="{{ path('visitorSettings', {'visitorId': visitor.id}) }}"><i
                                            class="icon-settings"></i>
                                    Visitor Settings </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}

