{% extends 'base.html.twig' %}

{% block title %}{{ office.officeNb }}{% endblock %}
{% block pagetitle %}{{ office.officeNb }}{% endblock %}
{% block pagetitlesmall %}Office Information{% endblock %}
{% block pagebartitle %}{{ office.officeNb }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/profile.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/profile-2.min.css') }}" rel="stylesheet" type="text/css"/>
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="profile-sidebar">
            <div class="portlet light profile-sidebar-portlet ">
                <div class="profile-usermenu">
                    <ul class="nav">
                        {% set routeName = app.request.attributes.get("_route") %}

                        <li class="{% if routeName == 'viewOffice' %}active{% endif %}">
                            <a href="{{ path('viewOffice', {'officeId': office.id}) }}"><i class="icon-home"></i>
                                Overview </a>
                        </li>
                        {% if 'fowner' in app.session.get('roles') or 'fadmin' in app.session.get('roles') %}
                            <li class="{% if routeName == 'editOffice' %}active{% endif %}">
                                <a href="{{ path('editOffice', {'officeId': office.id}) }}"><i class="icon-settings"></i>
                                    Office Settings </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
