{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block title %}Add Member{% endblock %}
{% block pagetitle %}Manage Members{% endblock %}
{% block pagetitlesmall %}Add Member{% endblock %}
{% block pagebartitle %}Add Member{% endblock %}

{% block content %}
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-equalizer font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Add Member</span>
            </div>
        </div>

        <div class="portlet-body form">
            {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
            <div class="form-body">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            <button class="close" data-close="alert"></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {{ form_row(form.givenName) }}
                {{ form_row(form.familyName) }}
                {{ form_row(form.gmail) }}
                {{ form_row(form.dob) }}
                {{ form_errors(form.dob) }}
                {{ form_row(form.phoneNb) }}
                {{ form_row(form.role) }}

                <div id="dynamic">
                    <div>
                        {% if form.device is defined %}
                            {{ form_row(form.device) }}
                        {% endif %}

                        {% if form.building is defined %}
                            {{ form_row(form.building) }}
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-4">
                        {{ form_widget(form.save) }}
                        {{ form_widget(form.reset) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        let $role = $('#user_role');
        let $dynamicField = $('#dynamic');

        $role.change(function () {
            let $form = $(this).closest('form');
            let data = {};
            data[$role.attr('name')] = $role.val();

            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function (html) {
                    let userRoleText = $role.find('option:selected').text();

                    $dynamicField.find('> div').empty();
                    if (userRoleText === 'Security Guard') {
                        $dynamicField.find('> div').append(
                            $(html).find('#user_device').parent().parent()
                        )
                    } else if (userRoleText === 'Facility Administrator') {
                        $dynamicField.find('> div').append(
                            $(html).find('#user_building').parent()
                        )
                    }
                }
            });
        });
    </script>
{% endblock %}
