{% extends 'baseUserProfile.html.twig' %}
{% form_theme personalInfoForm 'form/fields.html.twig' %}
{% if buildingAdministratorForm is not null %}
    {% form_theme buildingAdministratorForm 'form/fields.html.twig' %}
{% endif %}
{% if officeForm is not null %}
    {% form_theme officeForm 'form/fields.html.twig' %}
{% endif %}
{% if deviceForm is not null %}
    {% form_theme deviceForm 'form/fields.html.twig' %}
{% endif %}

{% block content %}
    {{ parent() }}
    <div class="profile-content">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light ">
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <i class="icon-globe theme-font hide"></i>
                            <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#personal_info" data-toggle="tab">Personal Info</a>
                            </li>
                            {% for i in 0..user.roles|length - 1 %}
                                {% if user.roles.get(i).getRoleName == 'fadmin' %}
                                    <li>
                                        <a href="#admin_info" data-toggle="tab">Change Building Admin</a>
                                    </li>
                                {% elseif user.roles.get(i).getRoleName == 'powner' %}
                                    <li>
                                        <a href="#office_info" data-toggle="tab">Change Office</a>
                                    </li>
                                {% elseif user.roles.get(i).getRoleName == 'sguard' %}
                                    <li>
                                        <a href="#device_info" data-toggle="tab">Change Device</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="personal_info">
                                {{ form_start(personalInfoForm, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
                                <div class="form-body">

                                    {% if fragment == 'personal_info' %}
                                        {% for label, messages in app.flashes %}
                                            {% for message in messages %}
                                                <div class="alert alert-{{ label }}">
                                                    <button class="close" data-close="alert"></button>
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}

                                    {{ form_row(personalInfoForm.givenName) }}
                                    {{ form_row(personalInfoForm.familyName) }}
                                    {{ form_row(personalInfoForm.gmail) }}
                                    {{ form_row(personalInfoForm.dob) }}
                                    {{ form_row(personalInfoForm.phoneNb) }}
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-4">
                                            {{ form_widget(personalInfoForm.save, {'label': 'Save'}) }}
                                            {{ form_widget(personalInfoForm.reset) }}
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(personalInfoForm) }}
                            </div>

                            {% if buildingAdministratorForm is not null %}
                                <div class="tab-pane" id="admin_info">
                                    {{ form_start(buildingAdministratorForm, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
                                    <div class="form-body">

                                        {% if fragment == 'admin_info' %}
                                            {% for label, messages in app.flashes %}
                                                {% for message in messages %}
                                                    <div class="alert alert-{{ label }}">
                                                        <button class="close" data-close="alert"></button>
                                                        {{ message }}
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}

                                        {{ form_row(buildingAdministratorForm.building) }}
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-4">
                                                {{ form_widget(buildingAdministratorForm.save, {'label': 'Save'}) }}
                                                {{ form_widget(buildingAdministratorForm.reset) }}
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(buildingAdministratorForm) }}
                                </div>
                            {% endif %}

                            {% if officeForm is not null %}
                                <div class="tab-pane" id="office_info">
                                    {{ form_start(officeForm, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
                                    <div class="form-body">

                                        {% if fragment == 'office_info' %}
                                            {% for label, messages in app.flashes %}
                                                {% for message in messages %}
                                                    <div class="alert alert-{{ label }}">
                                                        <button class="close" data-close="alert"></button>
                                                        {{ message }}
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}

                                        {{ form_row(officeForm.office) }}
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-4">
                                                {{ form_widget(officeForm.save, {'label': 'Save'}) }}
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(officeForm) }}
                                </div>
                            {% endif %}

                            {% if deviceForm is not null %}
                                <div class="tab-pane" id="device_info">
                                    {{ form_start(deviceForm, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
                                    <div class="form-body">

                                        {% if fragment == 'device_info' %}
                                            {% for label, messages in app.flashes %}
                                                {% for message in messages %}
                                                    <div class="alert alert-{{ label }}">
                                                        <button class="close" data-close="alert"></button>
                                                        {{ message }}
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}

                                        {{ form_row(deviceForm.macAddress) }}

                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-4">
                                                {{ form_widget(deviceForm.save) }}
                                                {{ form_widget(deviceForm.reset) }}
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(deviceForm) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}



